<div class="container row justify-content-lg-center gy-5 p-4">
    <div class="col-8 my-8 btn-group">
        <button data-testid="login-option" #loginbtn class="btn btn-primary" [ngClass]="!register ? 'active' : ''" (click)="register ? register=false : register">Login</button>
        <button data-testid="register-option" #registerbtn class="btn btn-primary" [ngClass]="register ? 'active' : ''" (click)="!register ? register=true : register">Register</button>
    </div>

    <div data-testid="error-msg" [ngClass]="error ? 'visible' : 'invisible'" class="alert alert-danger" role="alert">
        {{error}}
    </div>
    
    <div class="col-8 border border-2 rounded my-8 p-4" *ngIf="!register; else elseblock">
        <form class="" (ngSubmit)="login(loginemail.value, loginpass.value, remember.checked)">
            <div class="text-center">
                <h1>Login</h1>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input data-testid="l-email" #loginemail class="form-control" name="email" type="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input data-testid="l-pass" #loginpass class="form-control" name="password" type="password">
            </div>
            <div class="form-check">
                <label class="form-check-label" for="remember">Remember me?</label>
                <input data-testid="l-remember" #remember class="form-check-input" name="remember" type="checkbox">
            </div>
        
            <button data-testid="l-submit" class="my-4 btn btn-primary btn-lg" type="submit">Login</button>
        </form>
    </div>
    <ng-template #elseblock>
        <div class="col-8 border border-2 rounded my-8 p-4">
            <form class="" (ngSubmit)="signup(regemail.value, reguser.value, regpass.value, regconfirm.value)">
                <div class="text-center">
                    <h1>Register an account</h1>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input data-testid="r-email" #regemail class="form-control" name="email" type="email">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input data-testid="r-username" #reguser class="form-control" name="username" type="text">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input data-testid="r-pass" #regpass class="form-control" name="email" type="password">
                </div>
                <div class="mb-3">
                    <label for="confirm" class="form-label">Confirm Password</label>
                    <input data-testid="r-pass2" #regconfirm class="form-control" name="confirm" type="password">
                </div>
                <button data-testid="r-submit" class="btn btn-primary btn-lg" type="submit">Sign Up</button>
            </form>
        </div>
    </ng-template>

    
</div>
