<!-- Modal Add Group -->
<div id="addChannelModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Channel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input data-testid="add-name" class="form-control" #addname type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea data-testid="add-desc" class="form-control" #adddesc></textarea>
                </div>
            </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button data-testid="add-submit" type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="addChannel(addname, adddesc)">Add Channel</button>
        </div>
      </div>
    </div>
  </div>

<!-- Edit Modal -->
<div id="editChannelModal" *ngIf="edit$ | async as edit" class="modal" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Edit Channel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label class="form-label">Name:</label>
                <input data-testid="edit-name" class="form-control" name="name" [(ngModel)]="edit.name" #name type="text">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea data-testid="edit-desc" class="form-control" name="desc" [(ngModel)]="edit.desc" #desc></textarea>
            </div>
        </form> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button data-testid="edit-submit" type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="editChannel(name.value, desc.value)">Save Channel</button>
    </div>
    </div>
</div>
</div>

<!-- Main Viewport -->
<div class="container p-0 h-100">
    <div class="row">
        <!-- Left Sidebar -->
        <div class="sidebar col-2 bg-tertiary py-2" *ngIf="channels$ | async as channels">
            <div class="py-2 my-2">
                <h3>{{groupName}}</h3>
            </div>
            <div class="d-flex justify-content-between">
                <h3>Channels <i data-testid="add-btn" *ngIf="isGroupAdmin || isSuper" class="bi bi-btn bi-plus-square d-inline"  type="button" data-bs-toggle="modal" data-bs-target="#addChannelModal"></i></h3>
            </div>
            <div class="" *ngFor="let channel of channels['channels']">
                <div data-test="load-channel" class="btn btn-primary" (click)="loadChannel(channel._id)">{{channel.name}}</div>
            </div>
        </div>

        <!-- Middle Content -->
            <div class="col" *ngIf="channel$ | async as channel">
                <div class="d-flex flex-column channel" *ngIf="channel.name; else nochannel">
                    <!-- Channel Title -->
                    <nav class="chan-title navbar">
                        <div class="container-fluid">
                            <h2 data-testid="channel-name">{{channel.name}}</h2>
                            <div data-test="channel-modify" *ngIf="isGroupAdmin || isSuper" class="btn-group">
                                <i data-testid="edit-btn" class="bi bi-btn bi-pencil-square" type="button" data-bs-toggle="modal" data-bs-target="#editChannelModal" (click)="edit$.next(channel)"></i>
                                <i data-testid="del-btn" class="bi bi-btn bi-btn-danger bi-trash3" (click)="deleteChannel(channel._id)"></i>
                            </div>
                        </div>
                    </nav>

                    <!-- Chat Window -->
                    <div #chat class="msg-history">
                        <div data-test="channel-messages" class="card mb-3" *ngFor="let message of messages">
                            <div *ngIf="getUsername(message.userId) as user" class="row g-0">
                                <div class="col-md-8 d-flex align-center">
                                    <div class="">
                                        <img *ngIf="user.img; else default" src="{{auth.getImg(user.img)}}" class="msg-pfp" alt="...">
                                        <ng-template #default><i class="bi bi-person-circle msg-pfp-default"></i></ng-template>
                                    </div>
                                    <div class="pt-4">
                                        <div class="d-flex msg-head">
                                            <span class="msg-name">{{user.username}}</span>
                                            <span class="text-body-secondary px-2 msg-time">{{message.timestamp | date}}</span>
                                        </div>  
                                        <p data-test="msg-content" class="card-text">{{message.content}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Message Bar -->
                    <form class="msg-bar" (ngSubmit)="sendMessage(msg)">
                        <div class="input-group mb-3">
                            <input data-testid="msg-field" #msg type="text" class="form-control" placeholder="" >
                            <button data-testid="send-btn" class="btn btn-outline-secondary" type="submit">Send</button>
                        </div>
                    </form>
                </div>

                <ng-template #nochannel>
                    <div class="col channel">
                        <nav class="navbar row">
                            <div class="container-fluid">
                                <h2 data-testid="no-channel">No Channel Selected</h2>
                            </div>
                        </nav>
                    </div>
                </ng-template>
            </div>

        <!-- User List -->
        <div class="col-2 py-2 bg-tertiary" *ngIf="users$ | async as users">
            <h4>Users</h4>
            <div class="">
                <div class="d-inline-block col-12 p-2" *ngFor="let user of users; index as i">
                    <div class="btn btn-primary w-100 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                    </div>
                    <ul *ngIf="isGroupAdmin || isSuper; else dropuser" class="dropdown-menu">
                        <li data-test="mod-tools" class="dropdown-item" (click)="banUser(user._id)">Ban</li>
                        <li *ngIf="getUserRole(user) == 'user'; else admin" data-test="mod-tools" class="dropdown-item" (click)="updateUserRole(user._id, groupId, 'admin')">Promote</li>
                        <ng-template #admin>
                            <li data-test="mod-tools" class="dropdown-item" (click)="updateUserRole(user._id, groupId, 'user')">Demote</li>
                        </ng-template>
                        <li *ngIf="isSuper && getUserRole(user, 'global') == 'admin'" data-test="mod-tools" class="dropdown-item" (click)="updateUserRole(user._id, 'global', 'user')">Demote Global</li>
                        <li *ngIf="isSuper && getUserRole(user, 'global') == 'user'" data-test="mod-tools" class="dropdown-item" (click)="updateUserRole(user._id, 'global', 'admin')">Promote Global</li>
                    </ul>
                    <ng-template #dropuser>
                        <ul class="col-2 dropdown-menu">
                            <li class="dropdown-item">Report</li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

</div>
