.btn-primary {
    --bs-btn-color: var(--txt-primary);
    --bs-btn-bg: var(--dark-600);
    --bs-btn-border-color: var(--gray-400);
    --bs-btn-hover-bg: var(--dark-660);
    --bs-btn-hover-border-color: var(--gray-400);
    --bs-btn-active-border-color: var(--dark-630);
    --bs-btn-active-color: var(--txt-primary);
    --bs-btn-active-bg: var(--gray-400);
    --bs-dropdown-bg: var(--dark-900);
    --bs-dropdown-link-hover-bg: var(--dark-900)
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: var(--dark-500);
    background-color: var(--dark-800);
    width: 100%;
}


.dropdown-toggle {
    border-width: 0;
}

.bg-tertiary {
    background-color: var(--bg-secondary);
}


.chan-title {
    flex-grow: 0
}

.msg-history {
    flex-grow: 1;
    align-content: end;
    overflow-y: auto;
}

.msg-pfp {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem;
}

.msg-pfp-default {
    font-size: 4rem;
    margin: 1rem;
}

.msg-head {
    line-height: 24px;
}

.msg-name {
    font-size: 1.25rem;
}

.msg-time {
    font-size: 0.75rem;
}

.msg-bar {
    flex-grow: 0;
    max-height: 10vh;
}

.channel {
    height: 80vh;
}

.bi-btn {
    font-size: 1.75rem;
    color: var(--txt-primary);
}

.bi-btn-danger {
    color: var(--txt-danger);
} 

.bi-btn:hover {
    cursor: pointer;
    color: var(--txt-muted);
}