<!-- Modal Add Group -->
<div id="addChannelModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Channel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input class="form-control" #addname type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" #adddesc></textarea>
                </div>
            </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="addChannel(addname, adddesc)">Add Channel</button>
        </div>
      </div>
    </div>
  </div>

<!-- Edit Modal -->
<div id="editChannelModal" *ngIf="edit$ | async as edit" class="modal" tabindex="-1">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Edit Channel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label class="form-label">Name:</label>
                <input class="form-control" name="name" [(ngModel)]="edit.name" #name type="text">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" name="desc" [(ngModel)]="edit.desc" #desc></textarea>
            </div>
        </form> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="editChannel(name.value, desc.value)">Save Channel</button>
    </div>
    </div>
</div>
</div>


<div class="container p-0 h-100">
    <div class="row">
        <div class="col-2 bg-tertiary py-2" *ngIf="channels$ | async as channels">
            <div class="py-2 my-2">
                <h3>{{groupName}}</h3>
            </div>
            <div class="d-flex justify-content-between">
                <h3>Channels <i *ngIf="isGroupAdmin || isSuper" class="bi bi-btn bi-plus-square d-inline"  type="button" data-bs-toggle="modal" data-bs-target="#addChannelModal"></i></h3>
            </div>
            <div class="" *ngFor="let channel of channels['channels']">
                <div class="btn btn-primary" (click)="loadChannel(channel._id)">{{channel.name}}</div>
            </div>
        </div>
        <div class="col d-flex flex-row">
            <div *ngIf="channel$ | async as channel">
                <div class="d-flex flex-column align-space-between" *ngIf="channel.name; else nochannel">
                    <nav class="navbar row">
                        <div class="container-fluid">
                            <h2>{{channel.name}}</h2>
                            <div *ngIf="isGroupAdmin || isSuper" class="btn-group">
                                <i class="bi bi-btn bi-pencil-square" type="button" data-bs-toggle="modal" data-bs-target="#editChannelModal" (click)="edit$.next(channel)"></i>
                                <i class="bi bi-btn bi-btn-danger bi-trash3" (click)="deleteChannel(channel._id)"></i>
                            </div>
                        </div>
                    </nav>
                    <div class="msg-history">
                        <div class="card mb-3" *ngFor="let message of messages">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="..." class="" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <span><h5 class="card-title">{{getUsername(message.userId)}}</h5><small class="text-body-secondary">{{message.timestamp | date}}</small></span>
                                  
                                  <p class="card-text">{{message.content}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <form class="" (ngSubmit)="sendMessage(msg)">
                        <div class="input-group mb-3">
                            <input #msg type="text" class="form-control" placeholder="" >
                            <button class="btn btn-outline-secondary" type="submit">Send</button>
                          </div>
                    </form>
                    <form (ngSubmit)="uploadImage(file)">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Default file input example</label>
                            <input #file class="form-control" type="file" id="formFile">
                        </div>
                        <input type="submit" class="btn btn-primary">                     
                    </form>
                </div>
                <ng-template #nochannel>
                    <div class="col">
                        <nav class="navbar row">
                            <div class="container-fluid">
                                <h2>No Channel Selected</h2>
                            </div>
                        </nav>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="col-2 py-2 bg-tertiary" *ngIf="users$ | async as users">
            <h4>Users</h4>
            <div class="">
                <div class="d-inline-block col-12 p-2" *ngFor="let user of users; index as i">
                    <div class="btn btn-primary w-100 dropdown-toggle" [id]="dropdownId(i)" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                    </div>
                    <div *ngIf="isGroupAdmin || isSuper; else dropuser" class="col-2 dropdown-menu" [attr.aria-labelledby]="dropdownId(i)">
                        <button class="dropdown-item">Ban</button>
                        <button class="dropdown-item">Promote</button>
                    </div>
                    <ng-template #dropuser>
                        <div class="col-2 dropdown-menu" [attr.aria-labelledby]="dropdownId(i)">
                            <button class="dropdown-item">Report</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

</div>
