<div class="container app-root">
    <nav class="navbar navbar-expand-lg row">
        <div class="container-fluid">
            <span class="navbar-brand">Chat App</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/account">Account</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/">Groups</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
