.app-root {
    background-color: var(--dark-600);
    color: var(--txt-primary)
}

.navbar {
    background-color: var(--bg-secondary);
    color: var(--txt-primary)
}

.nav-link {
    color: var(--txt-primary)
}

.navbar-brand {
    color: var(--txt-primary);
    cursor: pointer;
}

.nav-pfp {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-right:0.5em;
}