<div class="container row py-4">
    <div class="d-flex">
        <h3>Groups</h3>
        <button *ngIf="userHasAdmin('global')|| isSuper" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addGroupModal">Add</button>
    </div>
    <h1>Your Groups</h1>
    <div class="d-flex flex-wrap justify-content-center" *ngIf="userGroups$ | async; let groups">
        <div class="col-3 m-2 card border" *ngFor="let group of groups; index as i">
            <div class="card-body">
                <h5 class="card-title">{{group.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{group.desc}}</h6>
                <div class="btn-group">
                    <button class="btn btn-primary" *ngIf="userHasAccess(group._id); else elseblock" (click)="goToGroup(group._id)">Open Group</button>
                    <button class="btn btn-primary" *ngIf="userIsPermitted(group._id)" (click)="setRequestList(group.name, group._id)" type="button" data-bs-toggle="modal" data-bs-target="#requestModal">
                        Requests
                    </button>
                    <button class="btn btn-primary" *ngIf="userIsPermitted(group._id)" (click)="setEdit(group._id, group.name, group.desc)" type="button" data-bs-toggle="modal" data-bs-target="#editModal">
                        Edit
                    </button>
                    <button class="btn btn-primary" *ngIf="userIsPermitted(group._id)" (click)="deleteGroup(group._id)">
                        Delete
                    </button>

                </div>

                    
                <ng-template #elseblock>
                    <div *ngIf="isRequested(group.requests) else notrequested">
                        Access Requested
                    </div>
                    <ng-template #notrequested>
                        <button class="btn btn-primary" (click)="requestJoin(group._id)">Request Access</button>
                    </ng-template>
                    
                </ng-template>
            </div>
        </div>
    </div>
    <h1>All Groups</h1>
    <div class="d-flex flex-wrap justify-content-center" *ngIf="groups$ | async; let groups">
        <div class="col-3 m-2 card border" *ngFor="let group of groups; index as i">
            <div class="card-body">
                <h5 class="card-title">{{group.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{group.desc}}</h6>
                <div class="btn-group">
                    <button class="btn btn-primary" *ngIf="userHasAccess(group._id); else elseblock" (click)="goToGroup(group._id)">Open Group</button>
                    <button class="btn btn-primary" *ngIf="userIsPermitted(group._id)" (click)="setRequestList(group.name, group._id)" type="button" data-bs-toggle="modal" data-bs-target="#requestModal">
                        Requests
                    </button>
                    <button class="btn btn-primary" *ngIf="userIsPermitted(group._id)" (click)="setEdit(group._id, group.name, group.desc)" type="button" data-bs-toggle="modal" data-bs-target="#editModal">
                        Edit
                    </button>
                    <button class="btn btn-primary" *ngIf="userIsPermitted(group._id)" (click)="deleteGroup(group._id)">
                        Delete
                    </button>

                </div>

                  
                <ng-template #elseblock>
                    <div *ngIf="isRequested(group.requests) else notrequested">
                        Access Requested
                    </div>
                    <ng-template #notrequested>
                        <button class="btn btn-primary" (click)="requestJoin(group._id)">Request Access</button>
                    </ng-template>
                    
                </ng-template>
            </div>
          </div>
    </div>
</div>

<!-- Modal Add Group -->
<div id="addGroupModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Group</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input class="form-control" #addname type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" #adddesc></textarea>
                </div>
            </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addGroup(addname, adddesc)">Add Group</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit Group -->
<div id="editModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Group</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input class="form-control" name="name" [(ngModel)]="editName" #editname type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" name="desc" [(ngModel)]="editDesc" #editdesc></textarea>
                </div>
            </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editGroup(editId, editname.value, editdesc.value)">Add Group</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Request List -->
<div id="requestModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Requests to join {{requestListName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="requestList | async as list" class="modal-body">
            <div *ngIf="list.length > 0; else empty">
                <div *ngFor="let req of list">
                    <div class="col-2">
                        {{req.username}}
                    </div>
                    <div class="col-2 btn-group">
                        <button class="btn btn-success" (click)="acceptRequest(req._id, requestListId)">Accept</button>
                        <button class="btn btn-danger" (click)="denyRequest(req._id, requestListId)">Deny</button>
                    </div>
                </div>
            </div>
            <ng-template #empty>
                No new requests
            </ng-template>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
