.modal-content{
    background-color: var(--bg-primary);
    color: var(--text-primary)
}

.btn-primary {
    --bs-btn-color: var(--txt-primary);
    --bs-btn-bg: var(--bg-primary);
    --bs-btn-border-color: var(--gray-400);
    --bs-btn-hover-bg: var(--dark-660);
    --bs-btn-hover-border-color: var(--gray-400);
    --bs-btn-active-border-color: var(--dark-630);
    --bs-btn-active-color: var(--txt-primary);
    --bs-btn-active-bg: var(--gray-400);
}

.bi-btn {
    font-size: 1.75rem;
    color: var(--txt-primary);
}

.bi-btn-danger {
    color: var(--txt-danger);
} 

.bi-btn:hover {
    cursor: pointer;
    color: var(--txt-muted);
}