<div class="container row ">
    <div *ngIf="user$ | async; let user">
        <div *ngIf="!editMode; else elseblock">
            <div class="row py-4">
                <h1 class="col-2">Account</h1>
                <button class="btn btn-primary col-1 m-2" (click)="editMode=true">
                    Edit
                </button>
            </div>
            <ul class="col-10 list-group">
                <li class="list-group-item">
                    <h2>Account Details</h2>
                    Username: {{user.username}}
                </li>
                <li class="list-group-item">Email: {{user.email}}</li>
            </ul>

        </div>
        <ng-template #elseblock>
            <button class="btn btn-primary" (click)="editMode=false">Cancel</button>
            <form (ngSubmit)="saveUser(user, username.value, email.value)">
                <div>
                    <input #username type="text" value="{{user.username}}" name="email">
                </div>
                <div>
                    <input #email type="email" value="{{user.email}}" name="email">
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
            </form>
        </ng-template>
    </div>
</div>

<div id="deleteModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete your account?
            <span>This action cannot be undone</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteAccount()">Delete Account</button>
        </div>
      </div>
    </div>
  </div>
